.ds-pdf {
  &__loading {
    padding: 20px;
    text-align: center;
    font-size: 13px;
    color: #545455;
  }
}

.ds-pdf-page {
  position: relative;
  margin: auto;
  &__text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 1;
    overflow: hidden;
    > span {
      position: absolute;
      color: transparent;
      white-space: pre;
      transform-origin: 0% 0%;
      cursor: text;
    }
  }
}